.modal-box {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-btn-container {
	background-color: $color-white;
	padding: 100px;
	border-radius: 5px;
	opacity: 1;
	z-index: 20;
}

.btn {
	width: 100%;
	padding: 10px;
	border: none;
	color: $color-white;
	cursor: pointer;
	&:not(:last-child) {
		margin-right: 10px;
	}

	&-accept {
		background-color: $color-green;
	}
	&-back {
		background-color: $color-error;
	}
}

.hide-modal {
	display: none;
}

.open-modal-btn {
	margin-top: 20px;
	background-color: $color-white;
	border: none;
	padding: 10px;
}
