.posts-container {
	padding-top: 100px;
	height: 100%;
}

.post-container {
	border: 3px dotted $color-gray;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 50px;
	&:last-child {
		padding-bottom: 100px;
	}
}
